body {
    background-image: url('bg_bggenerator_com.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    color: #003366;
  }
  
  form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #003366;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #0059b3;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    form {
      width: 100%;
      padding: 10px;
    }
  }
  
  
  /* Media queries */
  
  @media screen and (max-width: 767px) {
    /* Styles for smartphones */
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
  }
  
  @media screen and (min-width: 1025px) {
    /* Styles for desktops and laptops */
  }
  